/* LISTAS */
/* Extends */
.frases-pag-container, .blog-pag-container, .prensa-pag-container, header, nav ul, body .blog-nota-container2, body .blog-nota-container, body .videos-container, body .prensa-container, body .prensa-video-container, body .nota1-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.blog-notas-container, .blog-item, .prensa-pag-item {
  display: flex;
  align-items: center;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 25px;
}
html ::-webkit-scrollbar {
  display: none;
}

body {
  overflow-x: hidden;
  background-color: black;
  /*portada*/
  /*TEXTOS*/
}
body .portada-sec {
  height: 50vw;
  width: 100%;
}
body .portada-sec .img-portada {
  width: 75%;
  float: right;
  position: relative;
  z-index: -100;
}
body a {
  text-decoration: none;
}
body .parrafo {
  font-family: "Roboto", sans-serif;
}
body .titulo {
  font-family: "Cinzel", serif;
}
body .portada-titulo {
  font-family: "Cinzel", serif;
  font-size: 9vw;
  color: #c39839;
  position: absolute;
  top: 27.5vw;
  left: 7.5vw;
  z-index: 100;
  overflow: hidden;
}
body .portada-titulo-2 {
  font-family: "Cinzel", serif;
  font-size: 9vw;
  color: #c39839;
  position: absolute;
  top: 36vw;
  left: 4vw;
  z-index: 100;
  overflow: hidden;
}
body .portada-leon {
  position: absolute;
  width: 33vw;
  top: 4.5vw;
  z-index: 50;
}
body .portada-rect {
  position: absolute;
  width: 54.4vw;
  height: 6.5414vw;
  top: 37.6vw;
  right: 0;
  z-index: 0;
  overflow: hidden;
}
body .portada-texto {
  position: absolute;
  width: 50vw;
  top: 38vw;
  left: 50vw;
  overflow: hidden;
}
body .portada-subt {
  font-family: "Cinzel", serif;
  font-size: 2.3vw;
  position: relative;
  right: 0vw;
  z-index: 50;
  font-weight: 600;
  color: white;
  overflow: hidden;
}
body .portada-subtext {
  font-family: "Roboto", sans-serif;
  font-size: 1.5vw;
  position: relative;
  z-index: 50;
  bottom: 1vw;
  color: white;
  font-weight: 100;
  line-height: 1.1;
  overflow: hidden;
}
body .nota1-container .nota1-img {
  overflow: hidden;
  width: 55vw;
  z-index: -100;
  position: relative;
  right: 2.5vw;
}
body .nota1-container .nota1-recuadro {
  overflow: hidden;
  width: 100%;
  height: 30vw;
  z-index: 100;
  background-color: #c39839;
  position: relative;
  right: 5vw;
  box-shadow: 5vw 0vw #c39839;
}
body .nota1-container .nota1-titulo {
  overflow: hidden;
  font-family: "Cinzel", serif;
  font-size: 3.3vw;
  padding-left: 4vw;
  padding-top: 2vw;
  z-index: 50;
  font-weight: 700;
  color: white;
}
body .nota1-container .nota1-parrafo {
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  font-size: 1.23vw;
  padding-left: 4vw;
  padding-right: 3vw;
  z-index: 50;
  color: white;
  font-weight: 400;
  line-height: 2;
}
body .nota1-container .destacado {
  font-weight: 500;
}
body .nota1-container .nota1-subt {
  overflow: hidden;
  font-family: "Cinzel", serif;
  font-size: 1.7vw;
  position: relative;
  left: 28.5vw;
  z-index: 50;
  font-weight: 700;
  color: white;
}
body .nota1-container .nota1-boton {
  overflow: hidden;
  background-color: white;
  width: 8vw;
  height: 3vw;
  font-family: "Cinzel", serif;
  font-size: 1.7vw;
  margin: 0 auto;
  font-weight: 800;
  position: relative;
  left: 2vw;
}
body .nota1-container .nota1-boton .nota1-botontext {
  text-align: center;
  padding-top: 1vw;
  text-decoration: none;
  color: black;
  transition: all 0.4s;
}
body .nota1-container .nota1-boton .nota1-botontext:hover {
  color: #c39839;
}
body .prensa-video-container {
  margin-top: 8vw;
  box-shadow: 0px 20px 50px 0px #c39839;
}
body .prensa-container {
  height: 60vw;
}
body .scroll {
  overflow: scroll;
}
body .prensa-video-titulo {
  font-family: "Cinzel", serif;
  font-size: 8vw;
  letter-spacing: 2vw;
  font-weight: 700;
  color: white;
  writing-mode: vertical-lr;
  position: absolute;
  left: 0;
  right: 89.5vw;
  transform: rotate(-180deg);
}
body .prensa-video-titulo2 {
  font-family: "Cinzel", serif;
  font-size: 8vw;
  letter-spacing: 2vw;
  font-weight: 700;
  color: white;
  writing-mode: vertical-lr;
  position: absolute;
  left: 94vw;
  transform: rotate(-180deg);
  z-index: 100;
}
body .prensa-item {
  margin: 1vw 0;
}
body .prensa-img {
  width: 25vw;
}
body .prensa-scroll {
  margin-left: 16vw;
  color: white;
  height: 55vw;
}
body .prensa-subt {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 50;
  margin-top: 1vw;
}
body .prensa-boton-nota-container {
  text-align: center;
  background-color: #c39839;
  width: 7vw;
  height: 2vw;
  margin: 0 auto;
  position: relative;
  bottom: 1vw;
}
body .prensa-boton-nota {
  text-align: center;
  font-family: "Cinzel", serif;
  font-size: 0.9vw;
  padding-top: 0.4vw;
  font-weight: 600;
  color: white;
}
body .scroll-bar {
  z-index: 100;
  position: absolute;
  left: 12vw;
  height: 45vw;
}
body .scroll-bar2 {
  z-index: 100;
  position: absolute;
  left: 87vw;
  height: 45vw;
}
body .videos-container {
  height: 60vw;
  overflow-y: scroll;
  background-color: #c39839;
}
body .videos-container .prensa-video-item {
  width: 25vw;
  margin: 1vw 0;
}
body .videos-container .videos-scroll {
  margin-left: 5vw;
  height: 55vw;
}
body .blog-titulo {
  font-family: "Cinzel", serif;
  color: #c39839;
  font-size: 10vw;
  font-weight: 600;
  letter-spacing: 2.5vw;
  text-align: center;
}
body .blog-entradas {
  font-family: "Cinzel", serif;
  color: white;
  font-size: 1.2vw;
  font-weight: 400;
  text-align: center;
  position: relative;
  left: 13vw;
  bottom: 5vw;
}
body .blog-nota-container {
  position: relative;
  bottom: 7vw;
}
body .blog-nota-container2 {
  overflow: hidden;
  position: relative;
  bottom: 7vw;
}
body .invertida {
  flex-direction: row-reverse;
}
body .blog-img {
  height: 30vw;
}
body .blog-nota-titulo {
  font-family: "Cinzel", serif;
  color: #c39839;
  font-size: 3vw;
  font-weight: 700;
  padding: 0 5vw;
  overflow: hidden;
}
body .blog-nota-texto {
  font-family: "Roboto", sans-serif;
  font-size: 1.3vw;
  font-weight: 300;
  margin-top: 1vw;
  padding: 0 9vw 0 5vw;
  color: white;
  line-height: 2;
  overflow: hidden;
}
body .blog-boton-container {
  text-align: center;
  background-color: #c39839;
  width: 10vw;
  height: 2.5vw;
  margin: 0 auto;
  position: relative;
  top: 2vw;
  left: 8vw;
  overflow: hidden;
}
body .blog-boton {
  text-align: center;
  font-family: "Cinzel", serif;
  font-size: 1.3vw;
  padding-top: 0.4vw;
  font-weight: 600;
  color: white;
  overflow: hidden;
}
body .blog-boton-vermas-container {
  text-align: center;
  background-color: #c39839;
  width: 18vw;
  height: 2.5vw;
  margin: 0 auto;
  overflow: hidden;
}
body .blog-boton-vermas {
  text-align: center;
  font-family: "Cinzel", serif;
  font-size: 1.3vw;
  padding-top: 0.4vw;
  font-weight: 600;
  color: white;
  transition: all 0.4s;
}
body .blog-boton-vermas:hover {
  color: black;
}

/* Extends */
.frases-pag-container, .blog-pag-container, .prensa-pag-container, header, nav ul, body .nota1-container, body .prensa-video-container, body .prensa-container, body .videos-container, body .blog-nota-container, body .blog-nota-container2 {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.blog-notas-container, .blog-item, .prensa-pag-item {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* LISTAS */
/* MENU */
nav {
  font-family: "Cinzel", serif;
  text-align: center;
  overflow: hidden;
}

nav ul li a {
  color: #c39839;
  text-decoration: none;
  margin: 0vw 3vw;
  font-size: 1.2vw;
  font-weight: 600;
}
nav ul li a:hover {
  color: #c7a762;
}

nav ul {
  list-style: none;
  margin: 0 auto;
  position: relative;
  right: 2vw;
}

/* Extends */
.frases-pag-container, .blog-pag-container, .prensa-pag-container, header, body .nota1-container, body .prensa-video-container, body .prensa-container, body .videos-container, body .blog-nota-container, body .blog-nota-container2, nav ul {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.blog-notas-container, .blog-item, .prensa-pag-item {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* LISTAS */
.footer {
  height: 15vw;
  background-color: #c39839;
  margin-top: 5vw;
  overflow: hidden;
}

.footer-img {
  width: 35vw;
  padding: 2vw 0vw 0vw 5vw;
}

/* Extends */
.frases-pag-container, .blog-pag-container, .prensa-pag-container, header, body .nota1-container, body .prensa-video-container, body .prensa-container, body .videos-container, body .blog-nota-container, body .blog-nota-container2, nav ul {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.blog-notas-container, .blog-item, .prensa-pag-item {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* LISTAS */
header {
  background-color: black;
  height: 5vw;
  box-shadow: 0px 0px 50px 0px #c39839;
  z-index: 900;
  overflow: hidden;
  /*LOGO*/
  /*REDES SOCIALES*/
}
header .img-logo {
  height: 5vw;
  padding: 1vw 0 0 6vw;
  overflow: hidden;
}
header .img-social {
  height: 1.2vw;
  margin: auto 0.4vw;
  overflow: hidden;
}
header .cont-social {
  position: relative;
  left: 12vw;
  overflow: hidden;
}

/* LISTAS */
/* Extends */
.frases-pag-container, .blog-pag-container, .prensa-pag-container, body .nota1-container, body .prensa-video-container, body .prensa-container, body .videos-container, body .blog-nota-container, body .blog-nota-container2, nav ul, header {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.blog-notas-container, .blog-item, .prensa-pag-item {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.videos-pag-container {
  padding: 0 10vw;
  text-align: center;
}

.video-principal {
  width: 80%;
  margin: 5vw auto;
}

.video-secundario {
  width: 40%;
}

/* LISTAS */
/* Extends */
.frases-pag-container, .blog-pag-container, .prensa-pag-container, body .nota1-container, body .prensa-video-container, body .prensa-container, body .videos-container, body .blog-nota-container, body .blog-nota-container2, nav ul, header {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.blog-notas-container, .blog-item, .prensa-pag-item {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.prensa-pag-container {
  justify-content: space-evenly;
  padding: 1vw 10vw;
  text-align: center;
  flex-wrap: wrap;
}

.h1-prensa-pag {
  text-align: center;
  font-family: "Cinzel", serif;
  font-size: 7vw;
  color: #c39839;
  font-weight: 800;
}

.prensa-pag-item {
  width: 45%;
  margin: 5vw 1vw;
  border-radius: 20px;
  background-color: #c39839;
  transition: 0.5s all;
}
.prensa-pag-item:hover {
  box-shadow: 15px -15px 20px rgba(195, 152, 57, 0.5);
}

.prensa-pag-img {
  width: 100%;
  object-fit: cover;
}

.prensa-pag-titulo {
  font-family: "Cinzel", serif;
  font-size: 1.7vw;
  padding: 0 2vw;
  color: white;
  font-weight: 800;
}

.fecha {
  color: black;
  font-family: "Cinzel", serif;
  font-size: 1.2vw;
  margin-top: 1vw;
}

.boton-prensa-ver-nota {
  font-family: "Cinzel", serif;
  font-size: 1.2vw;
  font-weight: 800;
  color: #c39839;
  background-color: black;
  width: 10vw;
  height: 3vw;
  margin-bottom: 1vw;
}
.boton-prensa-ver-nota .texto-prensa-ver-nota {
  text-decoration: none;
  color: white;
  position: relative;
  top: 0.7vw;
  transition: 0.3s all;
}
.boton-prensa-ver-nota .texto-prensa-ver-nota:hover {
  color: #c39839;
}

/* LISTAS */
/* Extends */
.frases-pag-container, .blog-pag-container, body .nota1-container, body .prensa-video-container, body .prensa-container, body .videos-container, body .blog-nota-container, body .blog-nota-container2, nav ul, header, .prensa-pag-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.blog-notas-container, .blog-item, .prensa-pag-item {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.blog-pag-container {
  justify-content: space-evenly;
  padding: 1vw 10vw;
  text-align: center;
  flex-wrap: wrap;
}

.blog-item {
  width: 30%;
  margin: 1vw 1vw;
  border-radius: 20px;
  background-color: #c39839;
  transition: 0.5s all;
}
.blog-item:hover {
  box-shadow: 7px -7px 10px rgba(195, 152, 57, 0.5);
}

.blog-pag-img {
  width: 100%;
  height: 20vw;
  object-fit: cover;
}

.blog-pag-titulo {
  font-family: "Roboto", sans-serif;
  font-size: 1vw;
  padding: 0 2vw;
  color: white;
  text-align: left;
  font-weight: 300;
}

.fecha-blog {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 1vw;
  text-align: left;
  margin-top: 1vw;
  padding: 0 2vw;
  font-weight: 500;
}

.boton-blog-ver-nota {
  font-family: "Cinzel", serif;
  font-size: 1.2vw;
  font-weight: 800;
  color: #c39839;
  background-color: black;
  width: 10vw;
  height: 3vw;
  margin-bottom: 1vw;
}
.boton-blog-ver-nota .texto-blog-ver-nota {
  text-decoration: none;
  color: white;
  position: relative;
  top: 0.7vw;
  transition: 0.3s all;
}
.boton-blog-ver-nota .texto-blog-ver-nota:hover {
  color: #c39839;
}

/* LISTAS */
/* Extends */
.frases-pag-container, body .nota1-container, body .prensa-video-container, body .prensa-container, body .videos-container, body .blog-nota-container, body .blog-nota-container2, nav ul, header, .prensa-pag-container, .blog-pag-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.blog-notas-container, .prensa-pag-item, .blog-item {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nota-index {
  font-family: "Cinzel", serif;
  font-size: 1vw;
  font-weight: 600;
  color: white;
  margin-top: 3vw;
}

.foto-nota {
  height: 50vw;
  width: 60vw;
  object-fit: cover;
}

.fecha-index {
  font-family: "Cinzel", serif;
  font-size: 1vw;
  font-weight: 600;
  color: white;
  margin-top: 1vw;
}

.titulo-index {
  font-family: "Cinzel", serif;
  font-size: 2vw;
  font-weight: 600;
  color: white;
  margin-top: 1vw;
}

.fecha-parrafo {
  font-family: "Roboto", sans-serif;
  font-size: 1vw;
  font-weight: 200;
  font-size: 1.5vw;
  color: white;
  margin-top: 1vw;
  padding: 0 20vw;
}

.enlace {
  text-decoration: none;
  color: white;
}
.enlace:hover {
  color: #c39839;
}

/* LISTAS */
/* Extends */
.frases-pag-container, body .nota1-container, body .prensa-video-container, body .prensa-container, body .videos-container, body .blog-nota-container, body .blog-nota-container2, nav ul, header, .prensa-pag-container, .blog-pag-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.prensa-pag-item, .blog-item, .blog-notas-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.frases-pag-container {
  overflow-x: hidden;
  padding: 1rem 5rem;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.frases-pag-container .space {
  justify-content: center;
}
.frases-pag-container .frases-pag-img {
  width: 11rem;
  margin: 0.5rem 0.2rem;
  transition: 0.5s all;
}
.frases-pag-container .frases-pag-img:hover {
  transform: scale(1.04);
  box-shadow: 7px -7px 15px rgba(195, 152, 57, 0.5);
}

/* Extends */
body .nota1-container, body .prensa-video-container, body .prensa-container, body .videos-container, body .blog-nota-container, body .blog-nota-container2, nav ul, header, .prensa-pag-container, .blog-pag-container, .frases-pag-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.prensa-pag-item, .blog-item, .blog-notas-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*MOBILE QUERY*/
@media only screen and (min-width: 601px) {
  .none-desktop {
    display: none !important;
  }
}
@media only screen and (min-width: 100px) and (max-width: 600px) {
  * {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden !important;
  }

  .none-mobile {
    display: none !important;
  }

  body {
    /* MENU */
    /*TEXTOS*/
  }
  body header {
    height: 20vw;
  }
  body header .img-logo {
    height: 15vw;
    margin: 3vw 0 0 0vw;
  }
  body nav {
    font-family: "Cinzel", serif;
  }
  body ul li {
    position: relative;
    right: 8vw;
    list-style: none;
  }
  body nav ul li a {
    color: #c39839;
    text-decoration: none;
    font-size: 5vw;
    font-weight: 600;
  }
  body nav ul li a:hover {
    color: #5a461a;
  }
  body nav ul {
    list-style: none;
    display: block;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 19vw;
    left: 62vw;
    background-color: black;
    z-index: 400;
    width: 40vw;
  }
  body .nav2 {
    z-index: 900;
  }
  body .menu-boton {
    position: absolute;
    left: 80vw;
    top: 2vw;
  }
  body .portada-sec {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2vw;
    height: 200vw;
  }
  body .portada-sec .img-portada {
    width: 160%;
    float: right;
    position: relative;
    left: 10vw;
    bottom: 5vw;
    z-index: -500;
  }
  body .portada-titulo {
    font-size: 18vw;
    position: absolute;
    top: 140vw;
    left: 12vw;
    z-index: 100;
  }
  body .portada-titulo-2 {
    font-size: 18vw;
    position: absolute;
    top: 157vw;
    left: 5vw;
    z-index: 100;
  }
  body .portada-leon {
    position: absolute;
    width: 110vw;
    top: 40vw;
    right: 50vw;
    z-index: 50;
  }
  body .portada-texto {
    background-color: #c39839;
    width: 100%;
    height: 43vw;
    position: absolute;
    top: 173vw;
    left: 0;
    text-align: center;
  }
  body .portada-subt {
    font-size: 10vw;
    position: unset;
    margin-top: 2vw;
    z-index: 50;
    font-weight: 600;
  }
  body .portada-subtext {
    font-size: 5vw;
    position: unset;
    z-index: 50;
    padding: 0 10vw;
    color: white;
    font-weight: 100;
    line-height: 1.1;
  }
  body .nota1-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 10vw;
  }
  body .nota1-container .nota1-img {
    width: 100vw;
  }
  body .nota1-container .nota1-recuadro {
    width: 100%;
    height: 105vw;
    z-index: 100;
    background-color: #c39839;
    box-shadow: unset;
    position: relative;
    left: 0;
  }
  body .nota1-container .nota1-titulo {
    font-family: "Cinzel", serif;
    font-size: 10vw;
    padding-left: 10vw;
    padding-top: 3vw;
    z-index: 50;
    font-weight: 700;
    color: white;
    line-height: 0.9;
  }
  body .nota1-container .nota1-parrafo {
    font-family: "Roboto", sans-serif;
    font-size: 4vw;
    padding-left: 10vw;
    padding-right: 1vw;
    z-index: 50;
    color: white;
    font-weight: 300;
    line-height: 1.7;
  }
  body .nota1-container .destacado {
    font-weight: 500;
  }
  body .nota1-container .nota1-subt {
    font-family: "Cinzel", serif;
    font-size: 5vw;
    padding-left: 25vw;
    z-index: 50;
    font-weight: 700;
    color: white;
  }
  body .nota1-container .nota1-boton {
    background-color: white;
    width: 90vw;
    height: 7vw;
    font-size: 5vw;
    font-weight: 800;
    color: black;
    font-family: "Cinzel", serif;
    margin: 0 auto;
  }
  body .nota1-container .nota1-boton .nota1-botontext {
    text-align: center;
    padding-top: 0.3vw;
  }
  body .prensa-video-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 8vw;
    width: 100%;
    align-items: center;
  }
  body .scroll {
    overflow: scroll;
  }
  body .prensa-video-titulo {
    font-family: "Cinzel", serif;
    font-size: 17vw;
    letter-spacing: 2vw;
    font-weight: 700;
    color: white;
    writing-mode: vertical-lr;
    position: relative;
    margin-top: 0vw;
    right: 0vw;
    left: 1vw;
    width: 35vw;
    transform: rotate(-180deg);
  }
  body .prensa-video-titulo2 {
    font-family: "Cinzel", serif;
    font-size: 17vw;
    letter-spacing: 2vw;
    font-weight: 700;
    color: white;
    writing-mode: vertical-lr;
    position: relative;
    margin-top: 0vw;
    right: 0vw;
    left: 5vw;
    width: 35vw;
    transform: rotate(-180deg);
    z-index: 100;
  }
  body .prensa-container {
    height: 150vw;
    width: 100%;
  }
  body .prensa-item {
    margin: 1vw 0;
  }
  body .prensa-img {
    width: 65vw;
  }
  body .prensa-scroll {
    width: 100%;
    color: white;
    position: relative;
    left: 0vw;
    height: 130vw;
    padding-right: 5vw;
  }
  body .prensa-subt {
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-weight: 50;
    margin-top: 1vw;
  }
  body .prensa-boton-nota-container {
    text-align: center;
    background-color: #c39839;
    width: 50vw;
    height: 6vw;
    margin: 0 auto 1vw;
    position: relative;
    bottom: 1vw;
  }
  body .prensa-boton-nota {
    text-align: center;
    font-family: "Cinzel", serif;
    font-size: 4vw;
    padding-top: 0.4vw;
    font-weight: 600;
    color: white;
  }
  body .scroll-bar {
    z-index: 100;
    position: absolute;
    left: 25vw;
    height: 100vw;
    margin-top: 30vw;
  }
  body .scroll-bar2 {
    z-index: 100;
    position: absolute;
    height: 100vw;
    margin-top: 190vw;
    left: 75vw;
  }
  body .videos-container {
    height: 150vw;
    width: 100%;
    overflow-y: scroll;
    background-color: #c39839;
    margin-top: 10vw;
  }
  body .videos-container .prensa-video-item {
    width: 65vw;
    margin: 1vw 0;
  }
  body .videos-container .videos-scroll {
    width: 90%;
    color: white;
    position: relative;
    right: 0vw;
    height: 130vw;
  }
  body .blog-titulo {
    font-family: "Cinzel", serif;
    color: #c39839;
    font-size: 20vw;
    font-weight: 600;
    letter-spacing: 2.5vw;
    text-align: center;
  }
  body .blog-entradas {
    font-family: "Cinzel", serif;
    color: white;
    font-size: 5vw;
    font-weight: 400;
    text-align: center;
    position: relative;
    left: 15vw;
    bottom: 12vw;
  }
  body .blog-nota-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    bottom: 7vw;
  }
  body .blog-nota-container2 {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    position: relative;
    bottom: 7vw;
  }
  body .blog-img {
    height: 100vw;
    width: 90vw;
    object-fit: cover;
  }
  body .blog-nota-titulo {
    font-family: "Cinzel", serif;
    color: #c39839;
    font-size: 8vw;
    font-weight: 700;
    padding: 0 5vw;
  }
  body .blog-nota-texto {
    font-family: "Roboto", sans-serif;
    font-size: 4vw;
    font-weight: 300;
    margin-top: 1vw;
    padding: 0 9vw 0 5vw;
    color: white;
    line-height: 2;
  }
  body .blog-boton-container {
    text-align: center;
    background-color: #c39839;
    width: 50vw;
    height: 8vw;
    font-weight: 800;
    position: unset;
    margin: 3vw auto 10vw;
  }
  body .blog-boton {
    text-align: center;
    font-family: "Cinzel", serif;
    font-size: 5vw;
    padding-top: 0.4vw;
    font-weight: 600;
    color: white;
  }
  body .blog-boton-vermas-container {
    text-align: center;
    background-color: #c39839;
    width: 90vw;
    height: 8vw;
    margin: 0 auto;
  }
  body .blog-boton-vermas {
    text-align: center;
    font-family: "Cinzel", serif;
    font-size: 5vw;
    padding-top: 0.4vw;
    font-weight: 600;
    color: white;
  }
  body .footer {
    height: 35vw;
    background-color: #c39839;
    margin-top: 10vw;
  }
  body .footer-img {
    width: 80vw;
    position: relative;
    left: 10vw;
  }
  body .cont-social {
    text-align: center;
    height: 25vw;
  }
  body .cont-social .img-social {
    width: 5vw;
    margin: 8vw 2vw;
  }
  body .prensa-pag-item {
    width: 100%;
    border-radius: 10px;
  }
  body .prensa-pag-titulo {
    font-size: 5vw;
    padding: 0 2vw;
  }
  body .fecha {
    font-size: 4vw;
    margin-top: 1vw;
  }
  body .boton-prensa-ver-nota {
    font-size: 2.2vw;
    font-weight: 800;
    width: 30vw;
    height: 5vw;
    margin-bottom: 1vw;
  }
  body .boton-prensa-ver-nota .texto-prensa-ver-nota {
    text-decoration: none;
    color: white;
    position: relative;
    top: 0.9vw;
  }
  body .videos-pag-container {
    padding: 0 10vw;
    text-align: center;
  }
  body .video-principal {
    width: 100%;
    margin: 5vw auto;
  }
  body .video-secundario {
    width: 100%;
  }
  body .blog-item {
    width: 100%;
    margin: 1vw 1vw;
    border-radius: 10px;
    background-color: #c39839;
    transition: 0.5s all;
  }
  body .blog-item:hover {
    box-shadow: 15px -15px 20px rgba(195, 152, 57, 0.5);
  }
  body .blog-pag-img {
    width: 100%;
    height: 60vw;
    object-fit: cover;
  }
  body .blog-pag-titulo {
    font-size: 3vw;
    padding: 0 4vw;
    color: white;
    text-align: left;
    font-weight: 300;
  }
  body .fecha-blog {
    font-size: 3vw;
    text-align: left;
    margin-top: 1vw;
    padding: 0 2vw;
    font-weight: 500;
  }
  body .boton-blog-ver-nota {
    font-size: 2.2vw;
    font-weight: 800;
    width: 40vw;
    height: 6vw;
    margin-bottom: 4vw;
  }
  body .boton-blog-ver-nota .texto-blog-ver-nota {
    text-decoration: none;
    color: white;
    position: relative;
    font-size: 4vw;
    top: 0.6vw;
  }
  body .boton-blog-ver-nota .texto-blog-ver-nota:hover {
    color: #c39839;
  }
  body .nota-index {
    font-family: "Cinzel", serif;
    font-size: 3vw;
    font-weight: 600;
    color: white;
    margin-top: 3vw;
    padding: 0 10vw;
  }
  body .foto-nota {
    height: 100vw;
    width: 90vw;
    object-fit: cover;
  }
  body .fecha-index {
    font-size: 3vw;
    font-weight: 600;
    padding: 0 20vw;
    margin-top: 1vw;
  }
  body .titulo-index {
    font-size: 6vw;
    font-weight: 600;
    padding: 0 10vw;
    margin-top: 1vw;
  }
  body .fecha-parrafo {
    font-size: 1vw;
    font-weight: 200;
    font-size: 5vw;
    margin-top: 1vw;
    padding: 0 10vw;
  }

  .frases-pag-container {
    padding: 0rem 0rem;
    text-align: center;
  }
  .frases-pag-container .frases-pag-img {
    width: 30%;
    margin: 1rem 0.1rem;
    transition: 0.5s all;
  }
  .frases-pag-container .frases-pag-img:hover {
    transform: scale(1.05);
    box-shadow: 7px -7px 15px rgba(195, 152, 57, 0.5);
  }
}

/*# sourceMappingURL=style.css.map */
