/*MOBILE QUERY*/
@media only screen and (min-width: 601px) {

    .none-desktop {
        display: none !important;
    }
 }


 @media only screen and (min-width: 100px) and  (max-width: 600px) {
    *{
        margin: 0px;
        padding: 0px;
        overflow-x: hidden !important;
    }


    .none-mobile {
        display: none !important;
    }

    body {

        header {
        height: 20vw;

        .img-logo {
            height: 15vw;
            margin: 3vw 0 0 0vw;
        }

    
    }
    /* MENU */   

nav {
    font-family: 'Cinzel', serif;

}

ul li {
    position: relative;
    right: 8vw;
    list-style: none;
}
nav ul li a {
    color: nth($color, 1);
    text-decoration: none;
    font-size: 5vw;
    font-weight: 600;

    &:hover {
        color: nth($color, 2);
    }
    
}

nav ul {
    list-style: none;
    display: block;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 19vw;
    left: 62vw;
    background-color: black;
    z-index: 400;
    width: 40vw;
}

.nav2 {
    z-index: 900;
}


.menu-boton {
    position: absolute;
    left: 80vw;
    top: 2vw;
}

//PORTADA

.portada-sec {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2vw;
    height: 200vw;

    .img-portada {
        width: 160%;
        float: right;
        position: relative;
        left: 10vw;
        bottom: 5vw;
        z-index: -500;        
    }
}

/*TEXTOS*/

.portada-titulo {
    font-size: 18vw;
    position: absolute;
    top: 140vw;
    left: 12vw;
    z-index: 100;
}

.portada-titulo-2 {
    font-size: 18vw;
    position: absolute;
    top: 157vw;
    left: 5vw;
    z-index: 100;
}

.portada-leon {
    position: absolute;
    width: 110vw;
    top: 40vw;
    right: 50vw;
    z-index: 50;
}

.portada-texto {
    background-color: #c39839;
    width: 100%;
    height: 43vw;
    position: absolute;
    top: 173vw;
    left: 0;
    text-align: center;
}

.portada-subt {
    font-size: 10vw;
    position: unset;
    margin-top: 2vw;
    z-index: 50;
    font-weight: 600;
}


.portada-subtext {
    font-size: 5vw;
    position: unset;
    z-index: 50;
    padding: 0 10vw;
    color: white;
    font-weight: 100;
    line-height: 1.1;
}

//NOTA1-FORBES

.nota1-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 10vw;



    .nota1-img {
        width: 100vw;
    }
 
    .nota1-recuadro {
        width: 100%;
        height: 105vw;
        z-index: 100;
        background-color: nth($color, 1);
        box-shadow: unset;
        position: relative;
        left: 0;
   }

    .nota1-titulo {
        font-family: 'Cinzel', serif; 
        font-size: 10vw;;
        padding-left: 10vw;
        padding-top: 3vw;
        z-index: 50;
        font-weight: 700;
        color: white;
        line-height: 0.9;
    }

    .nota1-parrafo {
        font-family: 'Roboto', sans-serif;
        font-size: 4vw;
        padding-left: 10vw;
        padding-right: 1vw;
        z-index: 50;
        color: white;
        font-weight: 300;
        line-height: 1.7;
    }

    .destacado {
        font-weight: 500;
    }
    
    .nota1-subt {
        font-family: 'Cinzel', serif; 
        font-size: 5vw;
        padding-left: 25vw;
        z-index: 50;
        font-weight: 700;
        color: white;
    }

    .nota1-boton {
        background-color: white;
        width: 90vw;
        height: 7vw;
        font-size: 5vw;
        font-weight: 800;
        color: black;
        font-family: 'Cinzel', serif; 
         margin: 0 auto;

        .nota1-botontext {
            text-align: center;
            padding-top: 0.3vw;
        }
    }
            
}

//PRENSA Y VIDEOS 

.prensa-video-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 8vw;
    width: 100%;
    align-items: center;
}



.scroll {
    overflow: scroll;
}

.prensa-video-titulo {
    font-family: 'Cinzel', serif; 
    font-size: 17vw;
    letter-spacing: 2vw;
    font-weight: 700;
    color: white;
    writing-mode: vertical-lr;
    position: relative;
    margin-top: 0vw;
    right: 0vw;
    left: 1vw;
    width: 35vw;
    transform: rotate(-180deg);
}
.prensa-video-titulo2 {
    font-family: 'Cinzel', serif; 
    font-size: 17vw;
    letter-spacing: 2vw;
    font-weight: 700;
    color: white;
    writing-mode: vertical-lr;
    position: relative;
    margin-top: 0vw;
    right: 0vw;
    left: 5vw;
    width: 35vw;
    transform: rotate(-180deg);
    z-index: 100;
    
}

.prensa-container {
    height: 150vw;
    width: 100%;

}
.prensa-item {
    margin: 1vw 0;

}

.prensa-img {
    width: 65vw;
}

.prensa-scroll {
    width: 100%;
    color: white;
    position: relative;
    left: 0vw;
    height: 130vw;
    padding-right: 5vw;

}

.prensa-subt {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 50;
    margin-top: 1vw;
}

.prensa-boton-nota-container {
    text-align: center;
    background-color: nth($color, 1);
    width: 50vw;
    height: 6vw;
    margin: 0 auto 1vw;
    position: relative;
    bottom: 1vw;
}

.prensa-boton-nota {
    text-align: center;
    font-family: 'Cinzel', serif; 
    font-size: 4vw;
    padding-top: 0.4vw;
    font-weight: 600;
    color: white;
}


.scroll-bar {
    z-index: 100;
    position: absolute;
    left: 25vw;
    height: 100vw;
    margin-top: 30vw;
 
}

.scroll-bar2 {
    z-index: 100;
    position: absolute;
    height: 100vw;
    margin-top: 190vw;
    left: 75vw;
}

//VIDEOS
.videos-container {
    height: 150vw;
    width: 100%;
    overflow-y: scroll;
    background-color: nth($color, 1);
    margin-top: 10vw;


    .prensa-video-item {
        width: 65vw;
        margin: 1vw 0;
    }

    .videos-scroll {
        width: 90%;
        color: white;
        position: relative;
        right: 0vw;
        height: 130vw;

    }
}

//BLOG


.blog-titulo {
    font-family: 'Cinzel', serif; 
    color: nth($color, 1);
    font-size: 20vw;
    font-weight: 600;
    letter-spacing: 2.5vw;
    text-align: center;

}

.blog-entradas {
    font-family: 'Cinzel', serif; 
    color: white;
    font-size: 5vw;
    font-weight: 400;
    text-align: center;
    position: relative;
    left: 15vw;;
    bottom: 12vw;

}

.blog-nota-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    bottom: 7vw;
}


.blog-nota-container2 {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    position: relative;
    bottom: 7vw;
}

.blog-img {
    height: 100vw;
    width: 90vw;
    object-fit: cover;
}

.blog-nota-titulo {
    font-family: 'Cinzel', serif; 
    color: nth($color, 1);
    font-size: 8vw;
    font-weight: 700;
    padding: 0 5vw;


}

.blog-nota-texto {
    font-family: 'Roboto', sans-serif;
    font-size: 4vw;
    font-weight: 300;
    margin-top: 1vw;
    padding: 0 9vw 0 5vw;
    color: white;
    line-height: 2;
}

.blog-boton-container {
    text-align: center;
    background-color: nth($color, 1);
    width: 50vw;
    height: 8vw;
    font-weight: 800;
    position: unset;
    margin: 3vw auto 10vw;
}

.blog-boton {
    text-align: center;
    font-family: 'Cinzel', serif; 
    font-size: 5vw;
    padding-top: 0.4vw;
    font-weight: 600;
    color: white;
}

.blog-boton-vermas-container {
    text-align: center;
    background-color: nth($color, 1);
    width: 90vw;
    height: 8vw;
    margin: 0 auto;
}

.blog-boton-vermas {
    text-align: center;
    font-family: 'Cinzel', serif; 
    font-size: 5vw;
    padding-top: 0.4vw;
    font-weight: 600;
    color: white;
}

.footer {
    height: 35vw;
    background-color: nth($color, 1);
    margin-top: 10vw;
}

.footer-img {
    width: 80vw;
    position: relative;
    left: 10vw;

}

.cont-social {
    text-align: center;
    height: 25vw;

    .img-social{
        width: 5vw;
        margin: 8vw 2vw;
    }
}


// PAGINA PRENSA

.prensa-pag-item {
    width: 100%;
    border-radius: 10px;

}

.prensa-pag-titulo {
    font-size: 5vw;
    padding: 0 2vw;
}

.fecha {

    font-size: 4vw;
    margin-top: 1vw;
}

.boton-prensa-ver-nota {

    font-size: 2.2vw;
    font-weight: 800;

    width: 30vw;
    height: 5vw;
    margin-bottom: 1vw;
 


    .texto-prensa-ver-nota {
        text-decoration: none;
        color: white;
        position: relative;
        top: 0.9vw;

    }
}

//PAGINA VIDEOS

.videos-pag-container {
    padding: 0 10vw;
    text-align: center
}

.video-principal {
    width: 100%;
    margin: 5vw auto;
    
}

.video-secundario {
    width: 100%;
    
}


//PAGINA BLOG

.blog-item {
    width: 100%;
    margin: 1vw 1vw;
    border-radius: 10px;

    background-color: nth($color, 1);
    transition: 0.5s all;
        &:hover {
        box-shadow: 15px -15px 20px rgb(195, 152, 57, 50%);
    }
    
}

.blog-pag-img {
    width: 100%;
    height: 60vw;
    object-fit: cover;
}

.blog-pag-titulo {
    font-size: 3vw;
    padding: 0 4vw;
    color: white;
    text-align: left;
    font-weight: 300;
}

.fecha-blog {

    font-size: 3vw;
    text-align: left;
    margin-top: 1vw;
    padding: 0 2vw;
    font-weight: 500;
}

.boton-blog-ver-nota {

    font-size: 2.2vw;
    font-weight: 800;

    width: 40vw;
    height: 6vw;
    margin-bottom: 4vw;
 


    .texto-blog-ver-nota {
        text-decoration: none;
        color: white;
        position: relative;
        font-size: 4vw;
        top: 0.6vw;

        &:hover {
            color: nth($color, 1);
        }
    }

    
}
//SECCION NOTAS
.nota-index {
    font-family: 'Cinzel', serif; 
    font-size: 3vw;
    font-weight: 600;
    color: white;
    margin-top: 3vw;
    padding: 0 10vw;
}

 
.foto-nota {
    height: 100vw;
    width: 90vw;
    object-fit: cover;
}

.fecha-index {

    font-size: 3vw;
    font-weight: 600;
    padding: 0 20vw;
    margin-top: 1vw;
}

.titulo-index {
    font-size: 6vw;
    font-weight: 600;
    padding: 0 10vw;
    margin-top: 1vw;
}


.fecha-parrafo {

    font-size: 1vw;
    font-weight: 200;
    font-size: 5vw;

    margin-top: 1vw;
    padding: 0 10vw;
}


}
}