
@import '../funciones/list';
@import '../funciones/extends';
@import '../funciones/mixins';

@import '../base/variables';


*{
    margin: 0;
    padding: 0;

}


html {
    font-size: 25px ;

    ::-webkit-scrollbar {
        display: none;
    }
}

body {
    
    background-color: black;
    /*portada*/

    .portada-sec {
        height: 50vw;
        width: 100%;

        .img-portada {
            width: 85%;
            z-index: -100;
            float: right;
        }
    }


    /*TEXTOS*/

    .parrafo {
        font-family: 'Roboto', sans-serif;
    }

    .titulo {
        font-family: 'Cinzel', serif; 
    }

    .portada-titulo {
        font-family: 'Cinzel', serif; 
        font-size: 8vw;
        color: nth($color, 1);
        position: absolute;
        top: 31vw;
        left: 6.5vw;
        z-index: 100;
    }

    .portada-titulo-2 {
        font-family: 'Cinzel', serif; 
        font-size: 8vw;
        color: nth($color, 1);
        position: absolute;
        top: 38vw;
        left: 3.5vw;
        z-index: 100;
    }

    .portada-leon {
        position: absolute;
        width: 33vw;
        top: 4.5vw;
        z-index: 50;
    }
}






