
@import '../funciones/list';
@import '../funciones/extends';
@import '../funciones/mixins';

@import '../base/variables';


*{
    margin: 0;
    padding: 0;

}


html {
    font-size: 25px ;

    ::-webkit-scrollbar {
        display: none;
    }
}

body {
    
    overflow-x: hidden;
    
    background-color: black;
    /*portada*/

    .portada-sec {
        height: 50vw;
        width: 100%;
        

        .img-portada {
            width: 75%;
            float: right;
            position: relative;
            z-index: -100;        }
    }

    a {
        text-decoration: none;
    }

    /*TEXTOS*/

    .parrafo {
        font-family: 'Roboto', sans-serif;
    }

    .titulo {
        font-family: 'Cinzel', serif; 
    }

    .portada-titulo {
        font-family: 'Cinzel', serif; 
        font-size: 9vw;
        color: nth($color, 1);
        position: absolute;
        top: 27.5vw;
        left: 7.5vw;
        z-index: 100;
        overflow: hidden;
    }

    .portada-titulo-2 {
        font-family: 'Cinzel', serif; 
        font-size: 9vw;
        color: nth($color, 1);
        position: absolute;
        top: 36vw;
        left: 4vw;
        z-index: 100;
        overflow: hidden;
    }

    .portada-leon {
        position: absolute;
        width: 33vw;
        top: 4.5vw;
        z-index: 50;
    }

    .portada-rect {
        position: absolute;
        width: 54.4vw;
        height: 6.5414vw;
        top: 37.6vw;
        right: 0;
        z-index: 0;
        overflow: hidden;
    }

    .portada-texto {
        position: absolute;
        width: 50vw;
        top: 38vw;
        left: 50vw;
        overflow: hidden;
    }
    .portada-subt {
        font-family: 'Cinzel', serif; 
        font-size: 2.3vw;
        position: relative;
        right: 0vw;
        z-index: 50;
        font-weight: 600;
        color: white;
        overflow: hidden;
    }

    
    .portada-subtext {
        font-family: 'Roboto', sans-serif;
        font-size: 1.5vw;
        position: relative;
        z-index: 50;
        bottom: 1vw;
        color: white;
        font-weight: 100;
        line-height: 1.1;
        overflow: hidden;
    }

    // NOTA 1

    .nota1-container {

        @extend %flexbox-row;



        .nota1-img {
            overflow: hidden;
            width: 55vw;
            z-index: -100;
            position: relative;
            right: 2.5vw;
        }
        
        .nota1-recuadro {
            overflow: hidden;
            width: 100%;
            height: 30vw;
            z-index: 100;
            background-color: nth($color, 1);
            position: relative;
            right: 5vw;
            box-shadow: 5vw 0vw nth($color, 1);
        }

        .nota1-titulo {
            overflow: hidden;
            font-family: 'Cinzel', serif; 
            font-size: 3.3vw;
            padding-left: 4vw;
            padding-top: 2vw;
            z-index: 50;
            font-weight: 700;
            color: white;
        }

        .nota1-parrafo {
            overflow: hidden;
            font-family: 'Roboto', sans-serif;
            font-size: 1.23vw;
            padding-left: 4vw;
            padding-right: 3vw;
            z-index: 50;
            color: white;
            font-weight: 400;
            line-height: 2;
        }

        .destacado {
            font-weight: 500;
        }
        
        .nota1-subt {
            overflow: hidden;
            font-family: 'Cinzel', serif; 
            font-size: 1.7vw;
            position: relative;
            left: 28.5vw;
            z-index: 50;
            font-weight: 700;
            color: white;
        }

        .nota1-boton {
            overflow: hidden;
           
            background-color: white;
            width: 8vw;
            height: 3vw;
            
            font-family: 'Cinzel', serif; 
            font-size: 1.7vw;
            margin: 0 auto;
            font-weight: 800;
            position: relative;
            left: 2vw;
            
            .nota1-botontext {
                text-align: center;
                padding-top: 1vw;
                text-decoration: none;
                color: black;
                transition: all 0.4s;

                &:hover {
                    color: #c39839;
                }
            }
        }
                
    }

    //PRENSA Y VIDEOS 

    .prensa-video-container {
        @extend %flexbox-row;
        margin-top: 8vw;
        box-shadow: 0px 20px 50px 0px #c39839;

  
    }

    .prensa-container {
        height: 60vw;
        @extend %flexbox-row;

    }

    .scroll {
        overflow: scroll;
    }

    .prensa-video-titulo {
        font-family: 'Cinzel', serif; 
        font-size: 8vw;
        letter-spacing: 2vw;
        font-weight: 700;
        color: white;
        writing-mode: vertical-lr;
        position: absolute;
        left: 0;
        right: 89.5vw;
        transform: rotate(-180deg);
    }
    .prensa-video-titulo2 {
        font-family: 'Cinzel', serif; 
        font-size: 8vw;
        letter-spacing: 2vw;
        font-weight: 700;
        color: white;
        writing-mode: vertical-lr;
        position: absolute;
        left: 94vw;
        transform: rotate(-180deg);
        z-index: 100;
        
    }

    .prensa-item {
        margin: 1vw 0;
    }

    .prensa-img {
        width: 25vw;
    }

    .prensa-scroll {
        margin-left: 16vw;
        color: white;
        height: 55vw;

    }

    .prensa-subt {
        font-family: 'Roboto', sans-serif;
        text-align: center;
        font-weight: 50;
        margin-top: 1vw;
    }

    .prensa-boton-nota-container {
        text-align: center;
        background-color: nth($color, 1);
        width: 7vw;
        height: 2vw;
        margin: 0 auto;
        position: relative;
        bottom: 1vw;
    }

    .prensa-boton-nota {
        text-align: center;
        font-family: 'Cinzel', serif; 
        font-size: 0.9vw;
        padding-top: 0.4vw;
        font-weight: 600;
        color: white;
    }


    .scroll-bar {
        z-index: 100;
        position: absolute;
        left: 12vw;
        height: 45vw;
    }

    .scroll-bar2 {
        z-index: 100;
        position: absolute;
        left: 87vw;
        height: 45vw;
    }

    //VIDEOS
    .videos-container {
        height: 60vw;
        overflow-y: scroll;
        background-color: nth($color, 1);
        @extend %flexbox-row;


        .prensa-video-item {
            width: 25vw;
            margin: 1vw 0;
        }
    
        .videos-scroll {
            margin-left: 5vw;
            height: 55vw;
    
        }
    }

    //BLOG


    .blog-titulo {
        font-family: 'Cinzel', serif; 
        color: nth($color, 1);
        font-size: 10vw;
        font-weight: 600;
        letter-spacing: 2.5vw;
        text-align: center;

    }

    .blog-entradas {
        font-family: 'Cinzel', serif; 
        color: white;
        font-size: 1.2vw;
        font-weight: 400;
        text-align: center;
        position: relative;
        left: 13vw;;
        bottom: 5vw;

    }

    .blog-nota-container {
        @extend %flexbox-row;

        position: relative;
        bottom: 7vw;
    }

    
    .blog-nota-container2 {
        @extend %flexbox-row;
        overflow: hidden;
        position: relative;
        bottom: 7vw;
    }
    
    .invertida {
        flex-direction: row-reverse;
    }

    .blog-img {
        height: 30vw;
    }

    .blog-nota-titulo {
        font-family: 'Cinzel', serif; 
        color: nth($color, 1);
        font-size: 3vw;
        font-weight: 700;
        padding: 0 5vw;
        overflow: hidden;

    }

    .blog-nota-texto {
        font-family: 'Roboto', sans-serif;
        font-size: 1.3vw;
        font-weight: 300;
        margin-top: 1vw;
        padding: 0 9vw 0 5vw;
        color: white;
        line-height: 2;
        overflow: hidden;
    }

    .blog-boton-container {
        text-align: center;
        background-color: nth($color, 1);
        width: 10vw;
        height: 2.5vw;
        margin: 0 auto;
        position: relative;
        top: 2vw;
        left: 8vw;
        overflow: hidden;
    }

    .blog-boton {
        text-align: center;
        font-family: 'Cinzel', serif; 
        font-size: 1.3vw;
        padding-top: 0.4vw;
        font-weight: 600;
        color: white;
        overflow: hidden;
    }

    .blog-boton-vermas-container {
        text-align: center;
        background-color: nth($color, 1);
        width: 18vw;
        height: 2.5vw;
        margin: 0 auto;
        overflow: hidden;
    }

    .blog-boton-vermas {
        text-align: center;
        font-family: 'Cinzel', serif; 
        font-size: 1.3vw;
        padding-top: 0.4vw;
        font-weight: 600;
        color: white;
        transition: all 0.4s;

        &:hover {
            color: black;
        }
    }


}






