
@import '../funciones/extends';
@import '../funciones/list';
@import '../funciones/mixins';

@import '../base/variables';

/* MENU */   

nav {
    font-family: 'Cinzel', serif;
    text-align: center;
    overflow: hidden;


}
nav ul li a {
    color: nth($color, 1);
    text-decoration: none;
    margin: 0vw 3vw;
    font-size: 1.2vw;
    font-weight: 600;

    &:hover {
        color: nth($color, 3);
    }
    
}

nav ul {
    list-style: none;
    @extend %flexbox-row; 
    margin: 0 auto;
    position: relative;
    right: 2vw;
}

